@charset "utf-8";
/* CSS Document */
ul {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	font-size: 20px;	
}
img {
	vertical-align: top;  /* 去除 图片低测缝隙  图片和文字的基线对齐 */
}
.h {
	width: 200px;
	height: 50px;
	margin: 0 150px;
}
.register{
	width: 120px;
	height: 30px;
	margin: 40px 1100px;
}
.part1{
	height: 600px;
}
.part{
	width: 600px;
	height: 30px;
	margin: -70px 350px;
}
.part li{
	width: 100px;
	float: left;
}
.part2{
	width: 999px;
	height: 600px;
	margin: 0px 150px;
	background-color: aqua;
}
.part3{
	width: 220px;
	height: 600px;
	margin: -600px 1169px;
	background-color: white;
}
.lu{
	width: 220px;
	height: 280px;
	background-color: azure;
}
.lu li{
	margin: 0 30px;
}
hr{
	width: 1300px;
}
.recommend li{
	margin: 10px 30px;
}




