@charset "utf-8";
/* CSS Document */
.x1{
	width: 200px;
	height: 50px;
	margin: 0 150px;
}
.x11{
	width: 500px;
	height: 30px;
	margin: -70px 300px;
}
.x11 li{
	width: 100px;
	float: left;
}
hr{
	width: 1300px;
}
.x2{
	width: 180px;
	height: 200px;
	margin: 10% 40%;
	background-color: azure;
}
a {
	text-decoration: none;
}

li {
	list-style: none;
}
.x3{
	width: 1001px;
	height: 50px;
	margin: 0 15%; 
	background-color: aquamarine;
	border-bottom-color: yellowgreen;
}
.x3 li{
	float: left;
	margin: 10px;
}
.logo{
	width: 200px;
	height: 50px;
	margin: -10px;
	background-color: aqua;
}
.x31{
	width: 1035px;
	height: 695px;
	margin: 0 15%;
	border: double #19F363;
}



